<script src="http://d3js.org/d3.v3.min.js"></script>



<h1>Welcome to Dollah IO</h1>
<p>This is how it works</p>

<body>
  Enter your expenditures manually.<br>

  Dollah IO will begin to map and visually display your expenses<br>

  You'll be able to see how much you're spending, where you're spending it, and more<br>

  This project was meant to teach me more about D3 and Processing.JS<br>
  <br><br><br>

  <div class="mainmenu">
    <a href = "/enterexpenses">Enter expenses</a> <br>
    
  </div>
</body>
